fastapi
uvicorn[standard]
motor
redis
passlib
bcrypt
python-multipart
pydantic
pydantic-settings
pymongo
sarvamai
python-dotenv
apscheduler
google-genai
pydantic[email]
Pillow
numpy
groq
tavily-python